*{
    margin: 5px;
    padding: 12px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flexbox;
    justify-content: center;
    /* place-content: center; */
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'Red Hat Mono', monospace; */
}

p{
    color: antiquewhite;
}

.head{
    place-self: center;
    color: antiquewhite;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 0;
    
}

.head::before{
    content: "";
    inset: 0;
    background: rgb(252, 165, 5);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.head:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    background: rgb(3, 20, 248);
}

.head:hover{
    color: #ffffff;
}

.fs{
    place-self: center;
    padding: 0%;
    position: relative;
    width: fit-content; 
    height: auto;
    /* background-color: antiquewhite; */
    color: #17181c;
    text-align: center
    /* float: center; */
}

.gn{
    /* text-align: center; */
    display: inline-flex;
    place-self: Left;
    
}

#num{
    /* font-family: 'Press Start 2P', cursive; */
    width: 60px;
    height: fit-content;
    background-color: rgb(46, 46, 46);
    color: antiquewhite;
    border-radius: 5px;
    border-style: dashed;
    place-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button{
    /* width: 100px;
    height: 50px; */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 2px solid   rgb(255, 223, 39);
    color: black;
    background-color: rgb(247, 227, 55);
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    
}
.button:hover{
    border: 2px solid rgb(250, 225, 5);
    color: rgb(250, 225, 5);
    background-color: #17181c;
    transition: all 0.5s;
}

.score{
    color: antiquewhite;
    place-self: right;
    float: right;
}

.gb{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 2px solid   rgb(252, 242, 184);
    color: rgb(250, 236, 41);
    background-color: rgb(2, 73, 26);
    font-family: 'Press Start 2P', cursive;
}

.gb:hover{
    color: rgb(87, 241, 151);
    background-color: #020202;
    transition: all 0.5s;
}